In [1]:
import pandas as pd
df_original =pd.read_csv('/Users/isabelmetzger/PycharmProjects/n2c2/train/dataframe_new_all.csv')
df =df_original[['text_data', 'ASP.FOR.MI']]
df_original.head()
# Import the necessary modules

,Unnamed: 0,text_data,uniqueID,.id,ABDOMINAL,ADVANCED.CAD,ALCOHOL.ABUSE,ASP.FOR.MI,CREATININE,DIETSUPP.2MOS,DRUG.ABUSE,ENGLISH,HBA1C,KETO.1YR,MAJOR.DIABETES,MAKES.DECISIONS,MI.6MOS,UNIQUENUMBER
0,1,Record date: 2106-02-12 \n \nCampbell Orthoped...,1,TAGS,not met,met,not met,met,not met,met,not met,met,not met,not met,met,met,met,1
1,2,Record date: 2079-05-12 \n \n \n \n \n \nMERCY...,2,TAGS,not met,met,not met,met,not met,not met,not met,met,not met,not met,not met,met,not met,2
2,3,Record date: 2120-09-19 \n \nPersonal Data and...,3,TAGS,met,met,not met,met,not met,not met,not met,met,not met,not met,met,met,not met,3
3,4,Record date: 2067-11-24 \n \n ...,4,TAGS,not met,met,not met,met,not met,not met,not met,met,not met,not met,not met,met,not met,4
4,5,Record date: 2094-02-16 \n \nJENNIFER BOOKER \...,5,TAGS,not met,met,not met,not met,not met,not met,not met,met,met,not met,met,met,met,5

In [2]:
# Create a series to store the labels: y
df = df.rename(columns={'text_data': 'text','ASP.FOR.MI': 'label'})
# Create a series to store the labels: y
y = df.label

In [3]:
print(y[1:10])
df.head()

1        met
2        met
3        met
4    not met
5        met
6        met
7        met
8        met
9        met
Name: label, dtype: object

                                                text    label
0  Record date: 2106-02-12 \n \nCampbell Orthoped...      met
1  Record date: 2079-05-12 \n \n \n \n \n \nMERCY...      met
2  Record date: 2120-09-19 \n \nPersonal Data and...      met
3  Record date: 2067-11-24 \n \n                 ...      met
4  Record date: 2094-02-16 \n \nJENNIFER BOOKER \...  not met

In [4]:
# Import the necessary modules
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

In [5]:
# Create training and test sets
X_train, X_test, y_train, y_test = train_test_split(df['text'], y, test_size=0.33, random_state=53)

# Initialize a CountVectorizer object: count_vectorizer
count_vectorizer = CountVectorizer(stop_words='english')

# Transform the training data using only the 'text' column values: count_train
count_train = count_vectorizer.fit_transform(X_train)

# Transform the test data using only the 'text' column values: count_test
count_test = count_vectorizer.transform(X_test)

# Print the first 10 features of the count_vectorizer
print(count_vectorizer.get_feature_names()[:10])

['00', '000', '001', '002', '00212', '0028405', '00311', '0039', '004', '005']

In [6]:
### TfidfVectorizer for text classification

# Import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

# Initialize a TfidfVectorizer object: tfidf_vectorizer
tfidf_vectorizer = TfidfVectorizer(stop_words='english', max_df=0.7)

# Transform the training data: tfidf_train 
tfidf_train = tfidf_vectorizer.fit_transform(X_train)

# Transform the test data: tfidf_test 
tfidf_test = tfidf_vectorizer.transform(X_test)

# Print the first 10 features
print(tfidf_vectorizer.get_feature_names()[:10])

# Print the first 5 vectors of the tfidf training data
print(tfidf_train.A[:5])

['00', '000', '001', '002', '00212', '0028405', '00311', '0039', '004', '005']
[[0.         0.01171942 0.         ... 0.         0.         0.        ]
 [0.         0.028543   0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]]

In [7]:
### Inspecting the vectors

# Create the CountVectorizer DataFrame: count_df
count_df = pd.DataFrame(count_train.A, columns=count_vectorizer.get_feature_names())

# Create the TfidfVectorizer DataFrame: tfidf_df
tfidf_df = pd.DataFrame(tfidf_train.A, columns=tfidf_vectorizer.get_feature_names())

# Print the head of count_df
print(count_df.head())

# Print the head of tfidf_df
print(tfidf_df.head())

# Calculate the difference in columns: difference
difference = set(count_df.columns) - set(tfidf_df.columns)
print(difference)

# Check whether the DataFrames are equal
print(count_df.equals(tfidf_df))

   00  000  001  002  00212  0028405  00311  0039  004  005   ...    zostavax  \
0   0    1    0    0      1        0      0     0    0    0   ...           0
1   0    1    0    0      0        0      0     0    0    0   ...           0
2   0    0    0    0      0        0      0     0    0    0   ...           0
3   0    0    0    0      0        0      0     0    0    0   ...           0
4   0    0    0    0      0        0      0     0    0    0   ...           0

   zoster  zosyn  zp289  zpack  zr  zt  zw011  zyan  zyrtec
0       0      0      0      0   0   0      0     0       0
1       0      0      0      0   0   0      0     0       0
2       0      0      0      0   0   0      0     0       0
3       0      0      0      0   0   0      0     0       0
4       0      0      0      0   0   0      0     0       0

[5 rows x 17387 columns]
    00       000  001  002     00212  0028405  00311  0039  004  005   ...    \
0  0.0  0.011719  0.0  0.0  0.022708      0.0    0.0   0.0  0.0  0.0   ...
1  0.0  0.028543  0.0  0.0  0.000000      0.0    0.0   0.0  0.0  0.0   ...
2  0.0  0.000000  0.0  0.0  0.000000      0.0    0.0   0.0  0.0  0.0   ...
3  0.0  0.000000  0.0  0.0  0.000000      0.0    0.0   0.0  0.0  0.0   ...
4  0.0  0.000000  0.0  0.0  0.000000      0.0    0.0   0.0  0.0  0.0   ...

   zostavax  zoster  zosyn  zp289  zpack   zr   zt  zw011  zyan  zyrtec
0       0.0     0.0    0.0    0.0    0.0  0.0  0.0    0.0   0.0     0.0
1       0.0     0.0    0.0    0.0    0.0  0.0  0.0    0.0   0.0     0.0
2       0.0     0.0    0.0    0.0    0.0  0.0  0.0    0.0   0.0     0.0
3       0.0     0.0    0.0    0.0    0.0  0.0  0.0    0.0   0.0     0.0
4       0.0     0.0    0.0    0.0    0.0  0.0  0.0    0.0   0.0     0.0

[5 rows x 17271 columns]
{'hospital', 'ago', 'visit', 'illness', '10', 'ekg', '15', 'past', 'clear', 'did', 'follow', '50', 's1', '16', 'present', 'acute', 'home', 'months', 'patient', 'skin', 'time', 'soft', 'day', 'pressure', 'mg', 'dr', 'systems', 'problems', 'mild', 'edema', 'plan', 'disease', 'lives', 'status', 'symptoms', 'rhythm', 'blood', '40', '25', 'family', 'medical', '60', 'negative', 'stable', 'heart', 'hypertension', '90', 'history', 'rate', 'record', 'chest', 'md', 'bp', '100', 'weeks', '20', '12', 'left', 'abdomen', 'presents', 'today', 'year', 'normal', '11', 'weight', 'examination', 'cardiac', 'aspirin', 's2', 'denies', 'date', 'allergies', 'low', 'changes', '30', 'change', 'extremities', 'general', 'pt', 'pain', 'week', 'exam', 'medications', 'note', 'lower', 'good', 'care', 'days', 'qd', 'does', 'right', 'non', 'assessment', '70', 'diabetes', 'htn', '80', 'heent', 'elevated', 'social', 'recent', 'given', 'prior', 'bid', 'seen', 'review', 'old', 'breath', 'noted', 'neck', 'physical', 'pulse', 'regular', 'continue', 'lungs', 'po'}
False

Training and testing with Count Model and Naive Bayes

In [9]:
# Import the necessary modules
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics

# Instantiate a Multinomial Naive Bayes classifier: nb_classifier
nb_classifier = MultinomialNB()

# Fit the classifier to the training data
nb_classifier.fit(count_train, y_train)

# Create the predicted tags: pred
pred = nb_classifier.predict(count_test)

# Calculate the accuracy score: score
score = metrics.accuracy_score(y_test, pred)
print('\nAccuracy Score for MultinomialNB:\n')
print(score)

# Calculate the confusion matrix: cm
cm = metrics.confusion_matrix(y_test, pred, labels=['met', 'not met'])
print('\nConfusion Matrix:\n', cm)

Accuracy Score for MultinomialNB:

0.7313432835820896

Confusion Matrix:
 [[49  0]
 [18  0]]

Now with tf_idf

In [10]:
# Create a Multinomial Naive Bayes classifier: nb_classifier
nb_classifier = MultinomialNB()

# Fit the classifier to the training data
nb_classifier.fit(tfidf_train, y_train)

# Create the predicted tags: pred
pred = nb_classifier.predict(tfidf_test)

# Calculate the accuracy score: score
score = metrics.accuracy_score(y_test, pred)
print(score)

# Calculate the confusion matrix: cm
cm = metrics.confusion_matrix(y_test, pred, labels=['met', 'not met'])
print('\nConfusion Matrix:\n', cm)

0.7313432835820896

Confusion Matrix:
 [[49  0]
 [18  0]]

In [11]:
import numpy as np
# Create the list of alphas: alphas
alphas = np.arange(0, 1, .1)

# Define train_and_predict()
def train_and_predict(alpha):
    # Instantiate the classifier: nb_classifier
    nb_classifier = MultinomialNB(alpha=alpha)
    # Fit to the training data
    nb_classifier.fit(tfidf_train, y_train)
    # Predict the labels: pred
    pred = nb_classifier.predict(tfidf_test)
    # Compute accuracy: score
    score = metrics.accuracy_score(y_test, pred)
    return score

# Iterate over the alphas and print the corresponding score
for alpha in alphas:
    print('Alpha: ', alpha)
    print('Score: ', train_and_predict(alpha))
    print()

Alpha:  0.0
Score:  0.7313432835820896

Alpha:  0.1
Score:  0.7313432835820896

Alpha:  0.2
Score:  0.7313432835820896

Alpha:  0.30000000000000004
Score:  0.7313432835820896

Alpha:  0.4
Score:  0.7313432835820896

Alpha:  0.5
Score:  0.7313432835820896

Alpha:  0.6000000000000001
Score:  0.7313432835820896

Alpha:  0.7000000000000001
Score:  0.7313432835820896

Alpha:  0.8
Score:  0.7313432835820896

Alpha:  0.9
Score:  0.7313432835820896

/Users/isabelmetzger/anaconda3/lib/python3.6/site-packages/sklearn/naive_bayes.py:472: UserWarning: alpha too small will result in numeric errors, setting alpha = 1.0e-10
  'setting alpha = %.1e' % _ALPHA_MIN)

Inspecting model

In [12]:
# Get the class labels: class_labels
class_labels = nb_classifier.classes_

# Extract the features: feature_names
feature_names = tfidf_vectorizer.get_feature_names()

# Zip the feature names together with the coefficient array and sort by weights: feat_with_weights
feat_with_weights = sorted(zip(nb_classifier.coef_[0], feature_names))

# Print the first class label and the top 20 feat_with_weights entries
print(class_labels[0], feat_with_weights[:20])

# Print the second class label and the bottom 20 feat_with_weights entries
print(class_labels[1], feat_with_weights[-20:])

met [(-9.781261749912675, '001'), (-9.781261749912675, '002'), (-9.781261749912675, '00212'), (-9.781261749912675, '0028405'), (-9.781261749912675, '00311'), (-9.781261749912675, '0039'), (-9.781261749912675, '004'), (-9.781261749912675, '005'), (-9.781261749912675, '00664'), (-9.781261749912675, '007'), (-9.781261749912675, '009'), (-9.781261749912675, '00933'), (-9.781261749912675, '00am'), (-9.781261749912675, '0114243'), (-9.781261749912675, '012'), (-9.781261749912675, '0138'), (-9.781261749912675, '0152809'), (-9.781261749912675, '015285'), (-9.781261749912675, '018'), (-9.781261749912675, '0189233')]
not met [(-9.39300419922418, '03'), (-9.38859786232575, 'dialysis'), (-9.385964173696513, '22'), (-9.374609429424378, '02'), (-9.365601918341458, 'surgery'), (-9.359948992565768, '2115'), (-9.358390072923077, 'heel'), (-9.35592940919329, 'woman'), (-9.34829213000211, '08'), (-9.347176200135948, 'mca'), (-9.33880628198542, 'insulin'), (-9.337154510144561, 'reviewed'), (-9.305943794051611, 'graft'), (-9.289685097503522, 'stroke'), (-9.247837442713964, 'renal'), (-9.237775542884188, '2072'), (-9.22626983845666, 'resident'), (-9.223408106692798, '06'), (-9.088702479008237, 'foot'), (-8.935093831609759, 'tablet')]